aiobotocore==2.4.2
aiofiles==22.1.0
aiohttp==3.8.3
aioitertools==0.11.0
aiosignal==1.3.1
ansicolors==1.1.8
appdirs==1.4.4
apturl==0.5.2
arabic-reshaper==3.0.0
asgiref==3.6.0
asn1crypto==1.5.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
Babel==2.9.1
backports.zoneinfo==0.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.2
blinker==1.4
bootstrap4==0.1.0
boto3==1.26.62
botocore==1.29.62
Brlapi==0.7.0
bs4==0.0.1
cached-property==1.5.2
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
Click==7.0
colorama==0.4.3
cryptography==39.0.0
cupshelpers==1.0
Cython==0.29.33
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.7
distro==1.4.0
distro-info==0.23+ubuntu1.1
Django==4.2.5
django-bootstrap4==23.1
django-ckeditor==6.5.1
django-embed-video==1.4.8
django-js-asset==2.0.0
django-taggit==4.0.0
django-tinymce==3.6.1
djangorestframework==3.14.0
dnspython==1.16.0
docutils==0.16
duplicity==0.8.12.0
ebaysdk==2.1.5
engineering-notation==0.8.0
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.1.0
fasteners==0.14.1
filelock==3.13.1
filetype==1.2.0
freezegun==0.3.15
frozenlist==1.3.3
func-timeout==4.3.5
future==0.18.2
getmac==0.9.1
gevent==20.9.0
greenlet==2.0.2
h11==0.14.0
halo==0.0.31
httplib2==0.14.0
idna==2.8
isodate==0.6.1
jeepney==0.8.0
Jinja2==2.11.3
jmespath==1.0.1
joblib==1.2.0
kazam==1.4.5
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libsass==0.18.0
lockfile==0.12.2
log-symbols==0.0.14
louis==3.12.0
lxml==4.6.5
macaroonbakery==1.3.1
MarkupSafe==1.1.0
monotonic==1.5
mtbase==3.8.202301280819
mtgeo==0.10.202209291111
mtopencv==1.9.202301280854
mtpandas==1.11.202301280800
mtsql==0.13.202301220649
mttf==0.25.202301270630
multidict==6.0.4
mysqlclient==2.1.1
nltk==3.8.1
num2words==0.5.6
numpy==1.24.1
oauthlib==3.1.0
ofxparse==0.19
olefile==0.46
openpyxl==3.1.1
outcome==1.2.0
packaging==23.0
pandas==1.5.3
paramiko==3.0.0
passlib==1.7.3
pexpect==4.6.0
Pillow==9.0.1
platformdirs==4.0.0
polib==1.1.0
protobuf==3.6.1
proton-client==0.7.1
protonvpn-cli==3.13.0
protonvpn-gui==1.12.0
protonvpn-nm-lib==3.16.0
psutil==5.6.7
psycopg2==2.8.6
psycopg2-binary==2.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.16.2
pycparser==2.21
pycups==1.9.73
pydot==1.4.1
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyMySQL==1.0.3
PyNaCl==1.5.0
pyOpenSSL==19.0.0
pyparsing==3.1.1
PyPDF2==1.26.0
PyQt5==5.14.1
pyRFC3339==1.1
pyserial==3.4
PySocks==1.7.1
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
python-gnupg==0.4.5
python-ldap==3.4.0
python-stdnum==1.13
pythondialog==3.4.0
PyTurboJPEG==1.7.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyusb==1.0.2
pyxdg==0.26
PyYAML==5.3.1
qrcode==6.1
regex==2023.5.5
reportlab==3.5.59
requests==2.25.1
requests-toolbelt==1.0.0
requests-unixsocket==0.2.0
s3transfer==0.6.0
SecretStorage==3.3.3
selenium==4.8.2
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spinners==0.0.24
SQLAlchemy==2.0.1
sqlparse==0.4.3
sshtunnel==0.4.0
systemd-python==234
tabview==1.4.4
termcolor==2.2.0
tk-tools==0.16.0
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
unattended-upgrades==0.1
urllib3==1.26.14
usb-creator==0.3.7
validator==0.7.1
vboxapi==1.0
virtualenv==20.24.7
vobject==0.9.6.1
wadllib==1.3.3
wrapt==1.14.1
wsproto==1.2.0
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==1.1.2
xlwt==1.3.0
yarl==1.8.2
zeep==3.4.0
zope.event==5.0
zope.interface==6.0
